header {
	padding: 20px;
	padding-bottom: 100px;
	background-image: url("img/headerbg.jpg");
	margin-bottom: 20px;
}
body
{
}
input, button
{
	margin: 5px;
	padding: 5px;
}
#trucker, #shipper, #compute, .body, #actors
{
	
	margin-left: 50px;
}